html{
	background: #FCF4EA;
}

.search{
	
  
  }
#header{
	background:#00114F;
}

.all-btn{
	background: #169BD5;
	color:#ffffff;
	
}

.text-field{
	color: #000000;
	
}

#main-title{
	margin-top:0px;
	margin-left:20px;
	padding-top:10px;
	color:#ffffff;
	
}